{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Index
{% endblock %}

{% block body_block %}
    <div class="jumbotron">
        <h1 class="display-3">Rango says...</h1>
        {% if user.is_authenticated %}
            <h1>hoy there {{ user.username }}</h1>
        {% else %}
            <h1>hey there parner!</h1>
        {% endif %}
    </div>
    <div class="row marketing">
        <div class="col-lg-6">
            <div class="list-group">
                <a href="#" class="list-group-item disabled">Most liked categories</a>
                {% if categories %}
                    {% for category in categories %}
                        <a href="{% url 'rango:show_category' category.slug %}" class="list-group-item">{{ category.name }}</a>
                    {% endfor %}
                {% else %}
                    <a href="#" class="list-group-item disabled">There are no categories present.</a>
                {% endif %}
            </div>
        </div>

        <div class="col-lg-6">
            <div class="list-group">
                <a href="#" class="list-group-item disabled">Most liked pages</a>
                {% if pages %}
                        {% for page in pages %}
                            <a href="{{ page.url }}" class="list-group-item">{{ page.title }} {{ page.views }}</a>
                        {% endfor %}
                {% else %}
                    <a href="#" class="list-group-item disabled">There are no pages peresent.</a>
                {% endif %}
            </div>
        </div>
    </div>
    <img src="{% static "images/surface.jpg" %}" alt="Picture of Surface"/>
{% endblock %}