{% extends 'rango/base.html' %}
{% load static %}

{% block body_block %}
    <h1></h1>
    {% if categories %}
        <strong>Most liked categories</strong>
        <ul>
            {% for category in categories %}
                <li>
                    <a href="{% url 'rango:show_category' category.slug %}">{{ category.name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>There are no categories present.</strong>
    {% endif %}

    {% if pages %}
        <strong>Most liked pages</strong>
        <ul>
            {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }} {{ page.views }}</a> </li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>There are no pages peresent.</strong>
    {% endif %}
{% endblock %}